<div>
    <div id="background" class="position-absolute"
        style="background-image: url(../../assets/banner1.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover; height: 75vh;">
    </div>
    <div class="main-container main-spacer ontop-layer-2">
        <header class="info-header">
            About Me
        </header>
        <div class="surround">
            <div class="info">
                <div class="profile-pic info-item" id="profile">
                    <img id="profile-pic" src="" alt="Pic of Me">
                </div>
                <div class="info-item">
                    <!-- this part has the info about me and can switch to a view where you can see my skills -->
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident odit soluta saepe, mollitia
                    dolorem et molestias illum amet numquam dignissimos. Nesciunt, et fugiat quas iusto laudantium
                    aspernatur eos doloribus laboriosam.
                </div>
            </div>
        </div>
    </div>
</div>