<div>
    <!-- <div id="background" class="position-absolute"
        style="background-image: url(../../assets/banner1.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover; height: 75vh;">
    </div> -->
    <div class=" main-spacer" style="height: fit-content;" >
        <header class="info-header-secondary">
            About Me
        </header>
        <div class="center-div-parent" id="about-me-center-parent" style="height: 78%;">
            <div class="info">
                <div class="profile-pic info-item" id="profile">
                    <img id="profile-pic" src="../../assets/profile-pic.jfif" alt="Pic of Me" width="50%" height="auto">
                </div>
                <div id="about-me-info" class="info-item">

                    <div id="about-me-card" class="card bg-secondary mb-3">
                        <div id="about-me-header" class="card-header btn-group" role="group">
                            <button type="button" class="btn btn-dark" (click)="showInfoDiv()">
                                <!-- Show my info -->
                                About Me
                            </button>
                            <button type="button" class="btn btn-dark" (click)="showProgressDiv()">
                                <!-- Show progress -->
                                My Skills
                            </button>
                        </div>
                        <div class="card-body" id="about-me-body">
                            <div *ngIf="isInfoShowing; else ElseBlock" class="card-text">
                                <div class="card-text">
                                    <h2>
                                        test
                                    </h2>
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, dolor.
                                        Perspiciatis totam veritatis cupiditate commodi voluptas impedit ex natus, saepe
                                        praesentium laudantium, ad numquam pariatur! Tenetur magni nam distinctio
                                        aperiam?
                                    </p>
                                    <h2>
                                        test2
                                    </h2>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ad iure nobis eveniet asperiores, temporibus ducimus repellat debitis vero dolorem earum eius atque tenetur, aperiam neque iste laborum, provident libero.
                                    </p>
                                </div>
                            </div>
                            <ng-template #ElseBlock>
                                <div>
                                    <div class="grid-row">
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                skill 1
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 95%;"
                                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                skill 1
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 78%;"
                                                    aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                skill 1
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 99%;"
                                                    aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                skill 1
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 64%;"
                                                    aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                skill 1
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 82%;"
                                                    aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                skill 1
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 87%;"
                                                    aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                skill 1
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 92%;"
                                                    aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                skill 1
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 54%;"
                                                    aria-valuenow="54" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                skill 1
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 87%;"
                                                    aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                skill 1
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 59%;"
                                                    aria-valuenow="59" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                skill 1
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 78%;"
                                                    aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                skill 1
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 82%;"
                                                    aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                skill 1
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 97%;"
                                                    aria-valuenow="97" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>