<div>
    <!-- <div id="background" class="position-absolute"
        style="background-image: url(../../assets/banner1.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover; height: 75vh;">
    </div> -->
    <div class=" main-spacer" style="height: fit-content;" >
        <header class="info-header-secondary">
            About Me
        </header>
        <div class="center-div-parent" id="about-me-center-parent" style="height: 78%;">
            <div class="info">
                <div class="profile-pic info-item" id="profile">
                    <img id="profile-pic" src="../../assets/profile-pic.jfif" alt="Pic of Me" width="50%" height="auto">
                </div>
                <div id="about-me-info" class="info-item">

                    <div id="about-me-card" class="card bg-secondary mb-3">
                        <div id="about-me-header" class="card-header btn-group" role="group">
                            <button type="button" class="btn btn-dark" (click)="showInfoDiv()">
                                <!-- Show my info -->
                                About Me
                            </button>
                            <button type="button" class="btn btn-dark" (click)="showProgressDiv()">
                                <!-- Show progress -->
                                My Skills
                            </button>
                        </div>
                        <div class="card-body" id="about-me-body">
                            <div *ngIf="isInfoShowing; else ElseBlock" class="card-text">
                                <div class="card-text">
                                    <h2>
                                        Strengths
                                    </h2>
                                    <ul>
                                        <li>
                                            Working in a Team Environment
                                        </li>
                                        <li>
                                            Willing and Ready to Help Others Who May be Stuck or Need Assistence
                                        </li>
                                        <li>
                                            Persistent and Determined
                                        </li>
                                        <li>
                                            Willing to Ask For Help
                                        </li>
                                    </ul>
                                    <h2>
                                        Background
                                    </h2>
                                    <p>
                                        Grew up with a Strong Interest in Computer Science. Started to learn how to program in seventh grade and fell in love with programming. Began developing websites for small companies in Largo Florida for free in 2015. Eventually went from JavaScript to Python then from Python to more Industry Standard Programming Languages such as Java and C#. 
                                    </p>
                                </div>
                            </div>
                            <ng-template #ElseBlock>
                                <div>
                                    <div class="grid-row">
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                HTML/CSS
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 97%;"
                                                    aria-valuenow="97" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill2" class="grid-item inner-grid">
                                            <h6>
                                                JavaScript
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 82%;"
                                                    aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill3" class="grid-item inner-grid">
                                            <h6>
                                                Angular & TypeScript
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 87%;"
                                                    aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill4" class="grid-item inner-grid">
                                            <h6>
                                                C#
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 95%;"
                                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill15" class="grid-item inner-grid">
                                            <h6>
                                                ASP.NET 
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 82%;"
                                                    aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill6" class="grid-item inner-grid">
                                            <h6>
                                                Python - Scripting, Automation, Machine Learning
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 67%;"
                                                    aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill7" class="grid-item inner-grid">
                                            <h6>
                                                Distributed Systems - Docker/Kubernettes
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 40%;"
                                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill8" class="grid-item inner-grid">
                                            <h6>
                                                SQL/MYSQL/SQLITE
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 95%;"
                                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill9" class="grid-item inner-grid">
                                            <h6>
                                                JQuery
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 72%;"
                                                    aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill10" class="grid-item inner-grid">
                                            <h6>
                                                FireBase, AWS
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 85%;"
                                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill11" class="grid-item inner-grid">
                                            <h6>
                                                Information Systems and Networking
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 100%;"
                                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill12" class="grid-item inner-grid">
                                            <h6>
                                                Flutter - Android Mobile App Development
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 82%;"
                                                    aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div id="skill1" class="grid-item inner-grid">
                                            <h6>
                                                Git/Github - Version Control Systems
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 92%;"
                                                    aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>