<div class="main-spacer" style="height: fit-content;">
    <header class="info-header-secondary">
        <p>
            My Portfolio
        </p>
    </header>
    <div id="links-section">
        <a class="enlarge" href="https://github.com/WingsofStars" target="_blank" >
            <div style="display: flex; flex-flow: column nowrap; align-items: center; margin: 15px;">

                <h2>
                    My github
                </h2>
                <img src="../../assets/github.PNG" width="50%" height="auto" style="border-radius: 7%;">


            </div>
        </a>

        <a class="enlarge" href="https://play.google.com/store/apps/details?id=delware.apps.techsupport_scampermobile" target="_blank">
            <div style="display: flex; flex-flow: column nowrap; align-items: center;  margin: 15px;" >

                <h2>
                   Scamper
                </h2>
                <img src="../../assets/scamper.webp" width="50%" height="auto" style="border-radius: 7%;">
                <P style="text-decoration: none;">
                    An android app that tracks and records your cardio.
                </P>

            </div>
        </a>
        <a class="enlarge" href="/auxilium" target="_blank" >
            <div style="display: flex; flex-flow: column nowrap; align-items: center;  margin: 15px; width: fit-content;" >

                <h2>
                   Auxilium
                </h2>
                <img src="../../assets/AuxiliumLogo-Small.png" width="75%" height="auto" style="border-radius: 7%;">
                <P style="text-decoration: none;">
                    A Free Open Source Virtual Voice Assistant
                </P>

            </div>
        </a>

    </div>
</div>