<div class="main-container main-spacer">
    <header class="info-header-secondary">
        <p>
            My Portfolio
        </p>
    </header>
    <div id="links-section">
        <h3>
            Links to some of my Previous Projects
        </h3>
        <div>
            <a href="https://play.google.com/store/apps/details?id=delware.apps.techsupport_scampermobile" target="_blank">Scamper: An android app that tracks and records your cardio</a>
            <br/>
            <a href="https://github.com/WingsofStars" target="_blank">My github Profile</a>
        </div>
        
    </div>
    </div>