<div class="fullscreen main-spacer" style="min-height: 100vh; height: fit-content;">

    <div class="center-div-parent">
        <img src="../../assets/AuxiliumLogo.PNG " width="30%" height="auto" style="border-radius: 7%; margin-top: 10px;">
    </div>

    <div class="card text-white bg-info mb-3" style="margin: 25px;" >
        <div class="card-header"><h1>
            Auxilium
        </h1></div>
        <div class="card-body">
          <h4 class="card-title">What is Axuilium</h4>
          <p class="card-text"> Auxilium is a Free to use, completely open source Virtual assistant that can run on a raspberry pi 4.
            The github repo can be found <a href="https://github.com/WingsofStars/Auxilium" target="_blank" style="color: white;" >here</a>
          </p>
        </div>
        <div class="card-body">
            <h4 class="card-title">How to get Started</h4>
            <p class="card-text"> To get started with this project, you'll need a <a href="https://www.adafruit.com/product/4292" target="_blank" style="color: white;">Raspbery Pi 4 with a minimal requirment of 2 Gigabytes of Ram</a>, an <a href="https://www.adafruit.com/product/4757" target="_blank" style="color:white"> Adafruit Voice Bonnet for Raspberry Pi </a> and atleast 1 <a href="https://www.adafruit.com/product/3351" target="_blank" style="color:white"> Adafruit mono speaker</a>. After the easy installation of those two parts to the raspberry pi, download the OS image here, and flash it to an micro SD card thats atleast 16 GB. You can use a flasher such as <a href="https://etcher.balena.io/" target="_blank" style="color: white;" >Balena Etcher</a> to install it to the micro SD card.</p>
          </div>
          <div class="center-div-parent">
          <a style="margin-bottom: 17px; min-width: fit-content ; width: 30%; margin-left: 9px;" id="resume-button" class="btn btn-lg btn-primary" href="https://drive.google.com/file/d/1ft-cuomXdAPymGHQZGfPawpm4SB0XL6w/view?usp=share_link" download="Noah_Delbridge-Resume.pdf" target="_blank">Download Auxilium</a>
        </div>
      </div>
    <div style="margin-left: 7px; margin-top: 35px;">
        
        <P style="font-size: 24px;">
           
        </P>

        
    </div>

   
</div>

