<div class="fullscreen center-div-parent">
    <div id="fistLookCarousel" class="carousel slide carousel-fade h-100 w-100" data-ride="carousel" data-pause="false" >
        <div class="carousel-inner">
            <div class="carousel-item active fullscreen"
                style="background-image: url('../../assets/banner2.jpg' ); background-size: cover; background-position: center center; background-repeat: no-repeat; ">
                <!-- <img class="d-block fullscreen-img " src="../../assets/banner2.jpg" alt="First slide"> -->
            </div>
            <div class="carousel-item fullscreen"
                style="background-image: url('../../assets/banner3.jpg' ); background-size: cover; background-position: center center; background-repeat: no-repeat; ">
                <!-- <img class="d-block fullscreen" src="../../assets/banner3.jpg" alt="Second slide"> -->
            </div>
            <div class="carousel-item fullscreen"
                style="background-image: url('../../assets/banner4.jpg' ); background-size: cover; background-position: center center; background-repeat: no-repeat; ">
                <!-- <img class="d-block fullscreen" src="../../assets/banner4.jpg" alt="Third slide"> -->
            </div>
        </div>
    </div>
    <div id="info" class="ontop-layer-1 center-div-child card text-white bg-dark">
        
            <div class="info-header-primary">
                <p>
                    Full Stack Developer and Machine Learning Engineer
                </p>

            </div>
            <div class="info-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque illum ad quam nemo enim eaque animi
                    in a debitis dolore ipsum omnis cum qui, perferendis at est eum molestiae mollitia!
                </p>
            </div>
        <button id="resume-button"  class="btn btn-lg btn-primary" type="button" (click)="sendResume()" >Download Resume</button>
    </div>

</div>
