<div class=" main-spacer" style="height: fit-content;">
    <header class="info-header-secondary">
        <p>
            My Training
        </p>
    </header>

    <div *ngIf="blockIsValid; else ElseBlock">
        <div class="grid">
            <div class="card border-primary mb-3 grid-item" style="max-width: 20rem;">
                <div class="card-header">{{arrayOFTrainingObjects[0].place}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{arrayOFTrainingObjects[0].course}}</h4>
                    <p class="card-text">{{arrayOFTrainingObjects[0].Information}}</p>
                </div>
            </div>
            <div class="card border-primary mb-3 grid-item" style="max-width: 20rem;">
                <div class="card-header">{{arrayOFTrainingObjects[1].place}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{arrayOFTrainingObjects[1].course}}</h4>
                    <p class="card-text">{{arrayOFTrainingObjects[1].Information}}</p>
                </div>
            </div>
            <div class="card border-primary mb-3 grid-item" style="max-width: 20rem;">
                <div class="card-header">{{arrayOFTrainingObjects[2].place}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{arrayOFTrainingObjects[2].course}}</h4>
                    <p class="card-text">{{arrayOFTrainingObjects[2].Information}}</p>
                </div>
            </div>
            <div class="card border-primary mb-3 grid-item" style="max-width: 20rem;">
                <div class="card-header">{{arrayOFTrainingObjects[3].place}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{arrayOFTrainingObjects[3].course}}</h4>
                    <p class="card-text">{{arrayOFTrainingObjects[3].Information}}</p>
                </div>
            </div>
            <div class="card border-primary mb-3 grid-item" style="max-width: 20rem;">
                <div class="card-header">{{arrayOFTrainingObjects[4].place}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{arrayOFTrainingObjects[4].course}}</h4>
                    <p class="card-text">{{arrayOFTrainingObjects[4].Information}}</p>
                </div>
            </div>
            <div class="card border-primary mb-3 grid-item" style="max-width: 20rem;">
                <div class="card-header">{{arrayOFTrainingObjects[5].place}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{arrayOFTrainingObjects[5].course}}</h4>
                    <p class="card-text">{{arrayOFTrainingObjects[5].Information}}</p>
                </div>
            </div>
            <div class="card border-primary mb-3 grid-item" style="max-width: 20rem;">
                <div class="card-header">{{arrayOFTrainingObjects[6].place}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{arrayOFTrainingObjects[6].course}}</h4>
                    <p class="card-text">{{arrayOFTrainingObjects[6].Information}}</p>
                </div>
            </div>
            <div class="card border-primary mb-3 grid-item" style="max-width: 20rem;">
                <div class="card-header">{{arrayOFTrainingObjects[7].place}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{arrayOFTrainingObjects[7].course}}</h4>
                    <p class="card-text">{{arrayOFTrainingObjects[7].Information}}</p>
                </div>
            </div>
        </div>
        <!-- grid of cards -->
    </div>
    <ng-template #ElseBlock>

        <div id="training-Carousel" class="carousel slide " data-interval="false" style="display: flex; justify-content: center;">
            <a class="carousel-control-prev" href="#training-Carousel" role="button" data-slide="prev" >
                <span class="" aria-hidden="true"><i class="fa-solid fa-arrow-left"
                        style="color: black; font-size: xx-large;"></i></span>
                <b><span class="sr-only"></span></b>
            </a>

            <div id="training-Carousel-inner" class="carousel-inner" >
                <div class="carousel-item active" id="card1">
                    <div class="card border-primary grid-item">
                        <div class="card-header">{{arrayOFTrainingObjects[0].place}}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{arrayOFTrainingObjects[0].course}}</h4>
                            <p class="card-text">{{arrayOFTrainingObjects[0].Information}}</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" id="card2">
                    <div class="card border-primary grid-item">
                        <div class="card-header">{{arrayOFTrainingObjects[1].place}}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{arrayOFTrainingObjects[1].course}}</h4>
                            <p class="card-text">{{arrayOFTrainingObjects[1].Information}}</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" id="3">
                    <div class="card border-primary grid-item">
                        <div class="card-header">{{arrayOFTrainingObjects[2].place}}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{arrayOFTrainingObjects[2].course}}</h4>
                            <p class="card-text">{{arrayOFTrainingObjects[2].Information}}</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" id="card4">
                    <div class="card border-primary grid-item">
                        <div class="card-header">{{arrayOFTrainingObjects[3].place}}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{arrayOFTrainingObjects[3].course}}</h4>
                            <p class="card-text">{{arrayOFTrainingObjects[3].Information}}</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" id="card5">
                    <div class="card border-primary grid-item">
                        <div class="card-header">{{arrayOFTrainingObjects[4].place}}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{arrayOFTrainingObjects[4].course}}</h4>
                            <p class="card-text">{{arrayOFTrainingObjects[4].Information}}</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" id="card6">
                    <div class="card border-primary grid-item">
                        <div class="card-header">{{arrayOFTrainingObjects[5].place}}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{arrayOFTrainingObjects[5].course}}</h4>
                            <p class="card-text">{{arrayOFTrainingObjects[5].Information}}</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" id="card7">
                    <div class="card border-primary grid-item">
                        <div class="card-header">{{arrayOFTrainingObjects[6].place}}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{arrayOFTrainingObjects[6].course}}</h4>
                            <p class="card-text">{{arrayOFTrainingObjects[6].Information}}</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" id="card8">
                    <div class="card border-primary grid-item">
                        <div class="card-header">{{arrayOFTrainingObjects[7].place}}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{arrayOFTrainingObjects[7].course}}</h4>
                            <p class="card-text">{{arrayOFTrainingObjects[7].Information}}</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <a class="carousel-control-next" href="#training-Carousel" role="button" data-slide="next">
                <span class="" aria-hidden="true"><i class="fa-solid fa-arrow-right"
                        style="color: black; font-size: xx-large;"></i></span>
                <span class="sr-only"></span>
            </a>
        </div>

    </ng-template>








</div>