<div class="stats-container main-spacer center-div-parent bg-info" style="color: white;">
    <div id="statistics-carousel" class="carousel slide" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <figure>
                <blockquote class="blockquote">
                  <p class="mb-0">"61% of marketers say machine learning and AI are the number one priority in their data strategies."</p>
                
                </blockquote>
                <figcaption class="blockquote-footer">
                  <cite title="Source Title"><a href="https://www.zippia.com/advice/machine-learning-statistics/" target="_blank" style="font-size: 15px; color: white;">Zippa.com</a></cite>
                </figcaption>
              </figure>
          </div>
          <div class="carousel-item">
            <figure>
                <blockquote class="blockquote">
                  <p class="mb-0">". . .machine learning will help your company significantly reduce risk."</p>
                
                </blockquote>
                <figcaption class="blockquote-footer">
                  <cite title="Source Title"><a href="https://tooploox.com/how-to-use-machine-learning-to-improve-business-solutions" target="_blank"  style="font-size: 15px; color: white;">tooploox.com</a></cite>
                </figcaption>
              </figure>
          </div>
          <div class="carousel-item">
            <figure>
                <blockquote class="blockquote">
                  <p class="mb-0">"In 2021, 76% of surveyed companies prioritize AI and machine learning over other IT initiatives."</p>
                
                </blockquote>
                <figcaption class="blockquote-footer">
                  <cite title="Source Title"><a href="https://www.zippia.com/advice/machine-learning-statistics/" target="_blank"  style="font-size: 15px; color: white;">Zippa.com</a></cite>
                </figcaption>
              </figure>
          </div>
          <div class="carousel-item">
            <figure>
                <blockquote class="blockquote">
                  <p class="mb-0">"GE has used this technology to integrate supplier data and has saved $80 million in its first year by eliminating redundancies and negotiating contracts. . ."</p>
                
                </blockquote>
                <figcaption class="blockquote-footer">
                  <cite title="Source Title"><a href="https://hbr.org/2018/01/artificial-intelligence-for-the-real-world" target="_blank"  style="font-size: 15px; color: white;">Harvard Business Review</a></cite>
                </figcaption>
              </figure>
          </div>
          <div class="carousel-item">
            <figure>
                <blockquote class="blockquote">
                  <p class="mb-0">". . . 44% of U.S. consumers already prefer chatbots to humans . . ."</p>
                
                </blockquote>
                <figcaption class="blockquote-footer">
                  <cite title="Source Title"><a href="https://hbr.org/2017/05/8-ways-machine-learning-is-improving-companies-work-processes" target="_blank"  style="font-size: 15px; color: white;">Harvard Business Review</a></cite>
                </figcaption>
              </figure>
          </div>
        </div>
      </div>
</div>